<% if(success && success.length) { %>
<div class="alert alert-dark  alert-dismissible fade show col-6 offset-3" id="flash-message" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= success %>
  </div>
 
  <% } %>


  <% if(deleted && deleted.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" id="flash-message"  role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= deleted %>
      </div>
     
      <% } %>

     
  <% if(error && error.length) { %>
     <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" id="flash-message" role="alert">
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           <%= error%>
        </div>
         
          <% } %>
      
          <script>
            setTimeout(() => {
                const flashMessage = document.getElementById('flash-message');
                if (flashMessage) {
                    flashMessage.style.display = 'none';
                }
            }, 3000); // 5 seconds
        </script>