<footer>
    <div class="f-info">
            <div class="f-info-socials">
                <i class='bx bxl-facebook-square' style="color: #316FF6;"></i>
                <a href="https://www.instagram.com/taushal_kaklotar/?hl=en"><i class='bx bxl-instagram' style="color:#405de6#5b51d8#833ab4#c13584#e1306c#fd1d1d#f56040#177737 "></i></a>
                <i class='bx bxl-twitter' style='color:rgb(29 161 242)' ></i>
               <a href="https://www.linkedin.com/in/taushal-kaklotar-4424902bb/"><i class='bx bxl-linkedin-square' style='color : #0077B5;'></i></a> 
            </div>
            <div>&copy;Wonderlust Private Limited</div>

            <div class="f-info-link">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
    </div>
</footer>