<% layout("/layouts/boilerplate") %> 
<!-- Extends a boilerplate layout for consistent styling -->

<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3" role="alert" >
        <p><%= message %></p>
        <!-- Displays the error message passed from the server -->
    </div>
    <!-- <p></p> -->
</div>
