<% layout("/layouts/boilerplate") %>
<body>
    <h3><b>ALL LISTINGS</b></h3>
    <!-- <form method="get" action="/listings/new">
      <button>create new listings</button>
    </form> -->
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <% for (let listingg of alllisting){ %>
          <a href="/listings/<%=listingg._id %>" class="listing-link">
          <div class="card col">
            <img src=" <%= listingg.image %> >" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay">made by TAUSHAL</div>
            <div class="card-body">
              <p class="card-text"><b><%= listingg.title %></b>
              <br> &#8377;<%= listingg.price ? listingg.price.toLocaleString("en-IN") : "N/A" %>/night
            </p>
            </div>
          </div>
        </a> 
          <% } %>      
</body>
</html>


